.yt-import{
	font-size: 1.2rem;
	line-height: 1.2;
	cursor: pointer;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin-left: 1rem;
	width: 21px;
}
.import-input{
	width: 320px;
	position: absolute;
	height: calc(100% - 112px);
	right: 0px;
	top: 56px;
	z-index: 100;
	background: #1A1A1A !important;
}
.import-inner{
	width: 80%;
	margin: 0 auto;
}
#ytu, #ytpl, #dtpl{
	border: 1px solid !important;
	margin-bottom: 10px !important;
}
#ytu{
	margin-top: 20px;
}
.import_submit{
	width: 100% !important;
	height: 30px !important;
	color: #1A1A1A !important;
}
.importer-title{
	font-size: 18px;
	color: #AA74FE;
}

